{% extends "base.html" %}
{%load core_tags%}
{%load static%}
{% load crispy_forms_tags %}
{% block title %}Reserve A Seat{% endblock %}
{% block content %}
<img style="max-width:100%;height:auto;" src="{% static 'avatar/logo.jpeg' %}" alt="Cinque Terre" width="1000" height="300">
    <h1>{% now "l jS F Y"%}</h1>
    {% if errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Sorry!</strong> {{errors}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endif %}
    <!-- <p class="lead alert alert-info">Occupied seats: {% total_attendances %}</p> -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Available seats: {% rem_attendances %}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <img style="max-width:100%;height:auto;" src="{% static 'avatar/map.jpeg' %}" alt="Cinque Terre" width="1000" height="300"><br><br>

        <h6><strong>AGREED UPON TERMS FOR ON-SITE SERVICES:</strong></h6>
      <h6><strong>Registration</strong></h6>
      <p>Required for on-site attendance (100 people max/service).</p>
      <h6><strong>Facemasks</strong></h6>
      <p>Use of facemask/facial covering is required for all attendees before, during and after the service.</p>
      <h6><strong>Screening</strong></h6>
      <ul>
          <li>Please check your temperature and self screen for COVID-19 symptoms before attending a service.</li>
          <li>All attendees will have their temperature checked prior to entering the sanctuary. Any individual with a tempersture of more than 100.4 degrees F or more will not be permitted to attend the service in person.</li>
          <li>Any household member that has been diagnosed with COVID-19 or with symptoms of COVID-19(including a fever of above 100.4 degrees F) may not attend a service.</li>
      </ul>
      <h6><strong>Physical distancing</strong></h6>
      <ul>
          <li>Please maintain a minimum of 6 feet of distance between individuals(including members or your household) at all times before, during and after the service.</li>
          <li>There will be no classes for children. Children should remain with parents at all times and not interact with other children.</li>
      </ul>
      <p><input type="checkbox" required name="terms"> I AGREE</p><br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
{% endblock %}